<html>
<head>
  <title>Express HTML</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div style="margin:100px;">
    <nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <a class="navbar-brand" href="/">SFDX</a>
    <ul class="nav navbar-nav">
     
      <li>
        <a href="/allOrgs">All Orgs</a>
      </li>
      <li>
        <a href="/addOrgForm">Add Org</a>
      </li>
	  <li>
        <a href="/migrate">Migrate</a>
      </li>
	  <li>
        <a href="/generatepackage">Package</a>
      </li>
	  
	  <li >
	  <a href="https://github.com/axlemax/sfdx">help</a>
	  </li>
	  
	  
    </ul>
  </div>
</nav>

<!--<div class="alert alert-success" role="alert">
  This is a success alert—check it out!
</div>-->
    <div class="jumbotron"  style="padding:40px;">
     
	 Salesforce DX is a Salesforce product in the App cloud that allows users to develop and manage Salesforce apps throughout the entire platform in a more direct and efficient way.


Salesforce DX, used primarily by developers, allows users to have true version control. Version control allows developers to have better control over collaboration, auditing, and disaster control. It is also an important part of an agile release plan. It also helps users build and release new features quickly and with minimal risks.

Salesforce DX combines features from Force.com and Heroku Flow along with new improvements. DX uses the migration tool from Force.com to retrieve and push metadata to an org, also known as a developer environment, but DX also pulls all functionality into one place. DX delivers integration and application pipelines that help streamline workflow through Heroku Flow.

Salesforce DX introduces a new type of Salesforce environment in Scratch orgs. These are orgs consisting of Salesforce code or metadata that can be easily created or destroyed, helping to speed up the standard development workflow.


This was last updated in April 2017
Continue Reading About Salesforce DX
Developing with Salesforce
The rise of Salesforce and the App Cloud
The rundown of Salesforce DX
Related Terms
Salesforce Commerce Cloud
Salesforce Commerce Cloud, formerly called Demandware, is a cloud-based service for unifying the way businesses engage with ... See complete definition
Salesforce Knowledge Sidebar
A Knowledge Sidebar in a Salesforce Console displays titles of Salesforce Knowledge articles that are related to the specified ... See complete definition
Salesforce.com
Salesforce.com is a cloud computing and social enterprise software-as-a-service (SaaS) provider based in San Francisco. It was ... See complete definition
Dig Deeper on Salesforce CRM

Salesforce.org

Salesforce buys Salesforce.org: What that means for customers

How can Salesforce DX help project managers and workers?

Business users look to Salesforce App Cloud for app development

Understanding Salesforce App Cloud licensing

Salesforce1 Platform

	 
    </div>
  </div>
</body>
</html>